body{
	background-color:#D8D9D9;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin:0;
}

h1{
	font-family:RobotoCondensed-Bold;
}

.header {
  padding: 1px;
  text-align: center;
  background: #041E42;
  color: white;
  font-size: 28px;
}

.studentForm{
	margin-top: 5px;
}

.horizontalBox{
	display: inline-block;
	width:32.2%;
	float:left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: white;
}

li {
  float: right;
}

li a {
  display: block;
  color: #041E42;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:OpenSans-SemiBold;
  font-size:13px;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: white;
}

.navigation-bar img{
	float:left;
	width:192px;
	height:192px;
}

.box {
  position: absolute;
  width: 800px;
  height: 635px;
  top: 500px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color:white;
  padding:30px;
  border-radius:25px;
}

/* FORM CSS */
input[type=text], select {
  width: 95%;
  padding: 15px 15px;
  margin: 15px 20px;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password] {
  width: 95%;
  padding: 15px 15px;
  margin: 15px 20px;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  
}

input[type=submit] {
  width: 95%;
  background-color:#FF8200;
  color: white;
  padding: 15px 15px;
  margin: 15px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family:OpenSans-SemiBold;
  font-size:16px;
}

@font-face{
	font-family: RobotoCondensed-Bold;
	src: url(../fonts/RobotoCondensed-Bold.ttf);
}
	
@font-face{
	font-family: OpenSans-SemiBold;
	src: url(../fonts/OpenSans-SemiBold.ttf);
}










