.navigation ol {
    list-style-type: square;
}

body {
    background-image: url("img/utep_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

ol{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: #041E42;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
}

/* Style the body /
body {
  font-family: Tungsten;
  margin: 0;
}

/ Header/Logo Title /
.header {
  padding: 5px;
  text-align: center;
  background: #041E42;
  color: white;
  font-size: 10px;
}

/ Page Content */
.content {padding:10px;}