/*
index.php
 */

details.navigation ol {
    list-style-type: square;
}

body{
    background: #041E42;
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

}


.header {
  padding: 1px;
  text-align: center;
  background: #041E42;
  color: white;
  font-size: 28px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: white;
}

li {
  float: right;
}

li a {
  display: block;
  color: #041E42;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:13px;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: white;
}

.navigation-bar img{
	float:left;
	width:192px;
	height:192px;
}


